<main class="back">
  <h2 tabindex="0" class="card">Tela Inicial</h2>
  <section class="container">
    <h3 tabindex="0" class="title">Conquiste o sonho da casa própria</h3>
    <hr>
    <div tabindex="0" class="content">
      Em apenas alguns passos fique mais perto de
      <br>segurar as chaves <i aria-label="rostinho sorrindo">:) </i>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      routerLink="/form-client"
    >
      SIMULAR FINANCIAMENTO
    </button>
  </section>
</main>
