<main class="back">
  <h2 tabindex="0" class="card">Tela Inicial</h2>
  <section class="container">
    <h3 tabindex="0" class="title">Conquiste o sonho da casa própria</h3>
    <hr aria-hidden="true">
    <div tabindex="0" class="content">
      Em apenas alguns passos fique mais perto de
      <br aria-hidden>segurar as chaves <i aria-label="rostinho sorrindo">:) </i>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      routerLink="/form-client"
    >
      SIMULAR FINANCIAMENTO
    </button>
    <div class="fundo-transparente">
      <img id="imagem-fundo" aria-hidden="true" src="https://ik.imagekit.io/3mfjmziiqmi/logoSoVamu_KoYtwzFFS.png?ik-sdk-version=javascript-1.4.3&updatedAt=1643054562043">
    </div>
  </section>
</main>
