.body {
  width: auto;
  padding: 16px;
  background-color: #f6f6f6;
  height: 89vh;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.container {
  margin: 10px;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: fit-content;
}

mat-form-field {
  width: 387px;
  margin-right: 30px;
}

.footer {
  margin-top: 16px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
