.grid-template {
	grid-template:
        "header header" 50px
		"logo nav nav" 50px
        "section action" 50px
        
		/ 100px 1fr 50px;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-auto-rows: 50px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  background: #cccccc;
  margin: 5px;
}

.nav {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2;
  background: blue;
  margin: 5px;
  color: #ffffff;
}

.section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
  background: #cccccc;
  margin: 5px;
}

.section article {
  border: 1px solid darkgray;
  margin-left: 5%;
  margin-right: 5%;
  height: 17vh;
  background-color: darkgray;
}


.aside {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  background: #cccccc;

}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 6;
  background: #cccccc;
  margin: 5px;
}