.container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px;
  padding: 0px 0px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  height: 25vh;
  width: 30%;
}

h1 {
  margin: 30px 0px;
  font-size: 45px;
  font-weight: lighter;
  align-self: flex-end;
  color: purple;
  flex-direction: row;
  display: flex;
}

.lorem {
  text-align: center;
  font-size: x-small;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0px;
  }
  .content {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }

  .h1 {
    font-size: 45px;
    display: flex;
    text-align: start;
    margin-right: auto;

  }

  .caixa-texto {
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
  }

  .lorem {
    display: none;
  }
}

@media screen and (max-width: 404px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0px;
  }

  .content {
    display: flex;
    flex-direction: row;
    padding: 0px;
    text-align: start;
  }

  .h1 {
    font-size: 45px;
    display: flex;
    text-align: start;
    margin-right: auto;

  }

  .caixa-texto {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .lorem {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin: 0px;
    }
    .content {
      display: flex;
      flex-direction: row;
      padding: 0px;
    }

    .h1 {
      font-size: 45px;
      display: flex;
      text-align: start;
      margin-right: auto;

    }

    .caixa-texto {
      width: 90%;
      flex-direction: row;
      justify-content: space-around;
    }

    .lorem {
      display: none;
    }
  }
}
