<div class="container">
  <main class="content">
    <h1 class="h1 badge">CONTACT-US</h1>
    <div class="caixa-texto">
      <p class="lorem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quasi illo
        at quam obcaecati eaque repellendus eum ducimus sunt exercitationem a
        excepturi, inventore dignissimos reiciendis qui, culpa deserunt
        perferendis magni doloremque. Neque id alias, soluta voluptate ipsam
        pariatur veniam debitis.
      </p>
    </div>
  </main>
</div>
