<div class="container">
  <div class="form">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <label for="exampleInputEmail1" class="form-label"></label>
      <div class="mb-3">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu nome">
    <div id="emailHelp" class="form-text"></div></div>
      <small
        class="alerta"
        *ngIf="
          formulario.get('name')?.invalid && formulario.get('name')?.touched
        "
      >
        Campo obrigatório!</small
      >

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"></label>
        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Seu email">
      </div>
      <small
        class="alerta"
        *ngIf="
          formulario.get('email')?.invalid && formulario.get('email')?.touched
        "
      >
        Campo obrigatório!</small
      >
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensagem"></textarea>
      </div>
      <small
        class="alerta"
        *ngIf="
          formulario.get('message')?.invalid &&
          formulario.get('message')?.touched
        "
        >Campo obrigatório! (minimo 10 caracteres)
      </small>
      <button type="button" class="btn2 btn btn-dark" [disabled]="formulario.invalid">
        <a class="start" href="">STAR CHAT</a>
      </button>
    </form>
  </div>
</div>
