.container {
  margin: 20px;
  display: flex;
  justify-content: end;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
}

form {
  display: flex;
  flex-direction:column;
}

input {
  border: none;
  border-radius: 8px;
  height: 38px;
  box-shadow: 0 4px 8px #999;
  margin: 5px;
  padding: 5px;
}

.nome::placeholder {
  background-image: url(/src/assets/face-img.png);
  background-size: 3.5%;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.email::placeholder {
  background-image: url(/src/assets/email-img.png);
  background-size: 4%;
  background-repeat: no-repeat;
  padding-left: 30px;
}

textarea::placeholder {
  background-image: url(/src/assets/msg-img.png);
  background-size: 4%;
  background-repeat: no-repeat;
  padding-left: 30px;
}

textarea {
  border: none;
  border-radius: 8px;
  height: 150px;
  box-shadow: 0 4px 8px #999;
  margin: 4px;
  padding: 5px;
}

.btn2 {
  margin: 20px;
  border-radius: 20px;
  align-self: center;
  width: 100px;
  height: 30px;
  background-color: purple;
  background-image: linear-gradient(rgb(117, 12, 117), rgb(133, 31, 133), rgb(116, 9, 116));
  color: white;
  font-size: small;
}

.start{
color: white;
text-decoration: white;
}

.a{
  background-color: white;
}

@media screen and (max-width: 404px){
  .form{
    display: block;
    justify-content: start;
    align-items: stretch;
  }
  .container {
    margin: 20px;
    display: flex;
    justify-content: start;
  }
}

@media screen and (max-width: 800px){
  .form{
    display: block;
    justify-content: start;
    align-items: stretch;
  }
  .container {
    margin: 20px;
    display: flex;
    justify-content: start;
  }
}


