<main class="fundo">
  <h2 tabindex="0" class="card">Aprovado</h2>
  <section tabindex="0" class="container">
    <h3 class="titulo">Proposta <b aria-label="número">N°</b> 00001</h3>
    <img alt="" src="../../../assets/cliente-aprovado.png" />
    <h3 class="status">STATUS: APROVADO</h3>
    <hr  aria-hidden="true"/>
    <ul class="lista">
      <li>Taxa de 8<b aria-label="porcento">%</b> ao ano para correntistas</li>
      <li>
        Taxa de 10<b aria-label="porcento">%</b> ao ano para não correntistas
      </li>
      <li>
        Parcela inicial: <b aria-label="reais"></b>
        {{ parcelaInicial | currency: 'BRL' }}
      </li>
      <li>
        Valor total aprovado: <b aria-label="reais"></b> {{ valorTotalAprovado | currency: 'BRL' }}
      </li>
      <li>Seguro Só Vamu Security.</li>
      <li>Desconto na primeira e na última parcela</li>
    </ul>
    <button mat-raised-button color="primary" routerLink="/">
      IR PARA A TELA INICIAL
    </button>
  </section>
</main>
