<header class="title">
  <p><b>YOUR</b>LOGO</p>
  <ul
    class="ul_menu"
    *ngIf="responsivity || toggle"
    [ngClass]="{ menu2: toggle }"
  >
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="btn1 nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>
    </ul>
  </ul>
  <img
    class="img"
    src="https://i.imgur.com/5Fy64NP.png"
    *ngIf="!responsivity"
    (click)="toggle = !toggle"
  />
</header>
